body{
    background-color: rgb(83, 164, 240);
    color: white;
}

.html{
    float: right;
    width: 50%;
}

.clear{
    clear: both;
}

.css{
    float: left;
    width: 50%;
}

.javascript{
    float: right;
    width: 50%;
}